<!DOCTYPE HTML>

<html style="min-width: 1400px!important">
	<head>
		<title>WINGBOT~RESULTS</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	</head>
	
	<body>
		<div style="margin: 2vh 3vw 2vh 3vw;">
			
			<div class="row">
				<div class="col-3">
					<img class="card-img-top mx-auto" src=<%=pp%> alt="User Picture" style="border-radius: 50%; height: 30vh; width: 30vh; border: 5px solid black; display: block">
					<h1 style="text-align: center">@<%=at%></h1>
				</div>
				<!-- <div class="col-9">
					<canvas id="myChart"></canvas>
					<script>
						var ctx = document.getElementById("myChart").getContext('2d');
						var myChart = new Chart(ctx, chart);
					</script>
				</div> -->
				<div class="col-s9">
					<h4><span class="badge badge-secondary"><%= num_followers %></span> Followers</h4>
					<h4><span class="badge badge-secondary"><%= num_following %></span> Following</h4>
					<h4><span class="badge badge-secondary"><%= emotion %></span> on average</h4>
					<h4><span class="badge badge-secondary"><%= age %></span> approximate years old</h4>
					
				</div>
				<div class="col-s3">
					<div class="card" style="width: 18rem; position: absolute; right: 3vw; top: 2vh;">
						<div class="card-header">
							Best Friends
						</div>
						<ul class="list-group list-group-flush">
							<% top_mentions.forEach(function(user){ %>
								<a href="https://twitter.com/<%= user.user.substring(1) %>" style="text-decoration: none;">
									<li class="list-group-item">
										<img src="<%= user.profile_picture_url %>" alt="" max-width="20" max-height="20" class="mention_pic">
										<%= user.user %>
									</li>
								</a>
							<%});%>
						</ul>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 5vh;">
				<div class="col-s3" style="margin-right: 1vh;">
					<div class="card" style="width: 18rem;">
						<div class="card-header">
							Likes
						</div>
						<ul class="list-group list-group-flush">
								<% likes.forEach(function(like){ %>
									<li class="list-group-item"><%= like %></li>
								<% }); %>
						</ul>
					</div>
				</div>
				<div class="col-s3" style="margin-right: 1vh;">
					<div class="card" style="width: 18rem;">
						<div class="card-header">
							Dislikes
						</div>
						<ul class="list-group list-group-flush">							
								<% dislikes.forEach(function(dislike){ %>							
									<li class="list-group-item"><%= dislike %></li> 
								<% }); %>
						</ul>
					</div>
				</div>
				<div class="col-s3" style="margin-right: 1vh;">
					<div class="card" style="width: 18rem;">
						<div class="card-header">
							Interests
						</div>
						<ul class="list-group list-group-flush">
								<% categories.forEach(function(cat){%>
									<li class="list-group-item"><%= cat %></li>
								<% }); %>
						</ul>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<% cv.photos.forEach(function(pic){ %>
					<div class="col-s3">
						<div class="card" style="width: 18rem;">
							<img class="card-img-top" src="<%= pic.url %>" alt="Card image cap">
							<div class="card-body">
								<p class="card-text">Appears <%= pic.frequency %> times</p>
							</div>
						</div>
					</div>
				<% }); %>
			</div>
		</div>
	
	</body>
	
</html>


<style>
	.mention_pic {
		border: 2px solid black;
		border-radius: 50%;
	}
</style>